{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<main class="home">
		<article class="card">
			<h1 class="card__title">Bonjour John Doe</h1>
			<p class="card__subtitle">On est ravi de vous revoir</p>
		</article>
	</main>
{% endblock %}
