{% block header %}
	<header class="header">
		<img class="header__icon" src="{{ asset('images/icon.png') }}" alt="Debug.me icon"/>
		{% if is_granted('ROLE_ADMIN') %}
			<span class="chip chip--active">Mode Admin</span>
		{% endif %}
	</header>
{% endblock %}
