{% block header %}
	<header class="header">
		<img class="header__icon" src="{{ asset('images/icon.png') }}" alt="Debug.me icon"/>
		<a href=""><i class="fa-solid fa-life-ring"></i>Aide</a>
	</header>
{% endblock %}
