@import 'variables';
@import 'reset';
@import 'fonts';
@import 'utils/forms';
@import 'utils/buttons';

@import "../fontawesome/scss/fontawesome.scss";
@import "../fontawesome/scss/solid.scss";
@import "../fontawesome/scss/brands.scss";

@import "pages/register";
@import "pages/login";
@import "pages/tickets/_add.scss";
@import "pages/tickets/_list.scss";
@import "pages/tickets/_single.scss";
@import "pages/profile/_index.scss";
@import "pages/rank/index.scss";

body {
  font-family: Poppins;
  display: flex;
  background-color: $light-gray;
}

a {
  text-decoration: none;
}

.layout {
  height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  background-color: $white;
  border-bottom: 1px $gray solid;
  height: 4.5rem;
  padding: 0 1.5rem;
  gap: 1rem;
  flex-shrink: 0;

  &__icon {
    width: 2.5rem;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $white;
  width: 20rem;
  border-right: 1px solid $gray;

  &-header {
    display: flex;
    gap: 1rem;
    height: 4.5rem;
    padding: 0 1.5rem;
    border-bottom: 1px $gray solid;
    align-items: center;
    font-size: .9rem;
    color: $black;

    &__picture {
      width: 2.5rem;
      height: 2.5rem;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  .nav {
    &-list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1.5rem;
      color: $black;

      &__item {
        a {
          font-size: .8rem;
          font-weight: 500;
          cursor: pointer;
          padding: 1rem;
          display: flex;
          margin: 0px;
          // display: block;
          width: 100%;
          height: 100%;
          gap: 1rem;
          align-items: center;
          color: $black;
        }

        .icon {
          font-size: 1rem;
          color: $black;
        }

        &--active {
          background-color: $black;
          border-radius: 10px;

          a {
            color: $white;
          }

          .icon {
            color: $white;
          }
        }
      }
    }
  }
}

.card {
  background-color: $white;
  border-radius: 15px;
  border: 1px solid $gray;
  padding: 1rem;

  &__title {
    font-weight: bold;
    font-size: 3rem;
    color: $black;
    margin-bottom: 1rem;
  }

  &__subtitle {
    font-size: .9rem;
    color: $gray;
  }
}


.page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home-page {
  display: flex;
  min-height: 90vh;
  align-items: flex-start;
  flex-direction: column-reverse;
  gap: 1rem;
  padding: 1rem;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;

  .home {
    &-card {
      padding: 1rem;

      &__title {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: .5rem;
      }
    }
  }
  
  .left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  @media only screen and (min-width: 1440px) {
    flex-direction: row;
  }

  @media only screen and (min-width: 1440px) {
    .left {
      flex: 0 0 70%;
      max-width: 70%;
    }

    .right {
      flex: 1 1 30%;
      position: sticky;
      top: 0;
    }
  }

  .card {
    padding: 1.5rem;

    &.right {
      width: 100%;
    }

    &-header {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1rem;
    }

    &__divider {
      display: block;
      height: 1px;
      width: 100%;
      background-color: $gray;
    }

    &-profile {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__picture {
        width: 5rem;
        height: 5rem;
        object-fit: cover;
        border-radius: 10px;
        margin-bottom: 1rem;
      }

      &-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        &__title {
          font-size: 1.25rem;
          font-weight: 600;

        }
      }

      .progress-bar {
        height: 1rem;
        width: 15rem;
        background-color: rgba($primary, .15);
        border-radius: 999px;
        overflow: hidden;
        margin-bottom: .5rem;
    
        &__inner {
          display: block;
          height: 100%;
          background-color: $primary;
          border-radius: 999px;
        }
      }

      &-rank {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .25rem;

        &__label {
          font-size: .85rem;
          color: $black;
          font-weight: 600;
        }
      }
    }
  }

  &__title {
    color: $primary;
  }
}

.ticket-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid $gray;

    &__title {
      font-size: 1.25rem;
      font-weight: bold;
      color: $black;
    }

    &__link {
      display: flex;
      color: $black;
      text-transform: uppercase;
      font-size: .8rem;
      font-weight: 600;
      text-decoration: none;
      gap: .5rem;
      align-items: center;
    }
  }

  &-body {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 40vh;

    .ticket-list-item:not(:last-child) {
      border-bottom: 1px solid $gray;
    }
  }

  &-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;

    .ticket {
      &-header {
        display: flex;
        gap: 1rem;
        align-items: center;
        margin-bottom: 1rem;
      }

    }

    &__title {
      font-size: 1.1rem;
      font-weight: bold;
      color: $black;
    }

    &__status {
      display: grid;
      place-items: center;
      border-radius: 999px;
      width: 2rem;
      height: 2rem;

      &--done {
        border: solid 1px $primary;
        background-color: rgba($primary, .3);
        color: $primary;
      }

      &--undone {
        border: dashed 1px $gray;
        color: $gray;
      }
    }

    &__description {
      color: $gray;
      font-size: .8rem;
      line-height: 1.5;
    }

    &__list {
      display: flex;
      gap: .5rem;
    }
  }
}

.chip {
  border: 1px solid $gray;
  border-radius: 999px;
  padding: .5rem;
  height: 2rem;
  display: flex;
  align-items: center;
  color: $black;
  font-size: .8rem;
  width: fit-content;
  font-weight: 600;

  &--active {
    color: $primary;
    border: 1px solid $primary;
    background-color: rgba($primary, .3);
  }
}