{% block sidebar %}
	<aside class="sidebar">
		<div class="sidebar-header">
			<img class="sidebar-header__picture" src="{{ asset('/images/profile-picture.png')}}"/>
			John Doe
		</div>
		<nav class="nav">
			<ul class="nav-list">
				<li class="nav-list__item nav-list__item--active">
					<i class="fa-solid fa-house icon"></i>
					Accueil
				</li>
				<li class="nav-list__item">
					<i class="fa-solid fa-bell icon"></i>
					Notifications
				</li>
				<li class="nav-list__item">
					<i class="fa-solid fa-ranking-star icon"></i>
					Classement
				</li>
				<li class="nav-list__item">
					<i class="fa-solid fa-ticket icon"></i>
					Créer un ticket
				</li>
			</ul>
		</nav>
	</aside>
{% endblock %}
