{% extends 'layouts/layout_authenticated.html.twig' %}

{% block title %}Hello TagController!{% endblock %}

{% block content %}


<div class="example-wrapper">
    <h1>{{ title }}! ✅</h1>
    <ul>
        {% for tag in tags %}
        <li class="category">
            <p>Tag id : {{ tag.id }} </p>
            <p>Nom du tag : {{ tag.name }}</p>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
